In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_male=pd.read_excel("2019上海国际马拉松成绩册.xls",sheet_name=0,header=None)

In [3]:
data_female=pd.read_excel("2019上海国际马拉松成绩册.xls",sheet_name=1,header=None)

In [4]:
data_male['性别']='男'

In [5]:
data_female['性别']='女'

In [6]:
data_male['性别名次']=data_male.index

In [7]:
data_female['性别名次']=data_female.index

In [8]:
data=pd.concat([data_male,data_female])

In [9]:
data=data.sort_values([1]).reset_index(drop=True)

In [10]:
data['总名次']=data.index

In [11]:
data.tail(20)

                         0         1 性别   性别名次    总名次
21610                  陈蓓琼  06:11:52  女   4478  21610
21611                   袁风  06:11:53  男  17132  21611
21612                  王浩捷  06:11:59  男  17133  21612
21613                  唐明娟  06:12:09  女   4479  21613
21614                  王惠民  06:12:14  男  17134  21614
21615                  陈阳东  06:12:19  男  17135  21615
21616                  邹荣江  06:12:19  男  17136  21616
21617                  李建飞  06:12:20  男  17137  21617
21618                  范爱芬  06:12:25  女   4480  21618
21619                  王霞娟  06:12:33  女   4481  21619
21620                  方从霞  06:12:35  女   4482  21620
21621                   马菁  06:12:53  女   4483  21621
21622                  林嘉丰  06:12:54  男  17138  21622
21623                  李翔宇  06:13:13  男  17139  21623
21624                  靳顺谦  06:13:20  男  17140  21624
21625                   毛刚  06:13:28  男  17141  21625
21626  TAKAHASHI  NORIMASA  06:14:02  男  17142  21626
21627                  周昭舜  06:14:39  男  17143  21627
21628                  刘青峰  06:14:42  男  17144  21628
21629                  孙日东  06:14:54  男  17145  21629