In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [40]:
N = 10000  # 本金
I = 0.05  # 年利率
i = I/12  # 月利率
M = 12  # 月数

每月还款额m_z=每月还款本金+每月还款利息。m_b+m_l

每月还款本金m_b=贷款总额/贷款月数 N/M。

每月还款利息m_l=贷款本金余额*贷款月利率 n*i（ 贷款月利率=年利率/12）。

贷款本金余额n=贷款总额-已还款月数 * 每月还款本金 N-m*N/M

In [36]:
def bj(m):
    m_b = N/M
    n = N-m*N/M
    m_l = n*i
    m_z = m_b+m_l
    print('第%d月还款额：%f，还款本金：%f，还款利息，%f，期末余额：%f' % (m+1, m_z, m_b, m_l, n-m_b))

In [41]:
for x in range(M):
    bj(x)

第1月还款额：875.000000，还款本金：833.333333，还款利息，41.666667，期末余额：9166.666667
第2月还款额：871.527778，还款本金：833.333333，还款利息，38.194444，期末余额：8333.333333
第3月还款额：868.055556，还款本金：833.333333，还款利息，34.722222，期末余额：7500.000000
第4月还款额：864.583333，还款本金：833.333333，还款利息，31.250000，期末余额：6666.666667
第5月还款额：861.111111，还款本金：833.333333，还款利息，27.777778，期末余额：5833.333333
第6月还款额：857.638889，还款本金：833.333333，还款利息，24.305556，期末余额：5000.000000
第7月还款额：854.166667，还款本金：833.333333，还款利息，20.833333，期末余额：4166.666667
第8月还款额：850.694444，还款本金：833.333333，还款利息，17.361111，期末余额：3333.333333
第9月还款额：847.222222，还款本金：833.333333，还款利息，13.888889，期末余额：2500.000000
第10月还款额：843.750000，还款本金：833.333333，还款利息，10.416667，期末余额：1666.666667
第11月还款额：840.277778，还款本金：833.333333，还款利息，6.944444，期末余额：833.333333
第12月还款额：836.805556，还款本金：833.333333，还款利息，3.472222，期末余额：0.000000

本月还息=本月余额×月利率

本月还本=每月还款额-本月还息

每月还款额=[贷款本金×月利率×（1+月利率）^还款月数]÷[（1+月利率）^还款月数－1]

In [44]:
p=N*i*pow((1+i),M)/(pow((1+i),M)-1)

In [147]:
def bx(M):
    l=None
    for m in range(M):
        if not l: # 期初余额
            m_s=N
        else:
            m_s=l[-1]
        m_l=m_s*i # 还息
        m_b=p-m_l # 还本
        m_e=m_s-m_b # 期末余额
        print('第%d月还款额：%f，还款本金：%f，还款利息，%f，期初余额：%f，期末余额：%f' % (m+1, p, m_b, m_l, m_s, m_e))
        l=[m+1, p, m_b, m_l, m_s, m_e]
        yield l

In [142]:
bx_df=pd.DataFrame(columns=['月份','还款额','还本','还息','初期余额','末期余额'])

In [148]:
bx_lst=[]
for x in bx(M):
    bx_lst.append(x)

第1月还款额：856.074818，还款本金：814.408151，还款利息，41.666667，期初余额：10000.000000，期末余额：9185.591849
第2月还款额：856.074818，还款本金：817.801519，还款利息，38.273299，期初余额：9185.591849，期末余额：8367.790330
第3月还款额：856.074818，还款本金：821.209025，还款利息，34.865793，期初余额：8367.790330，期末余额：7546.581305
第4月还款额：856.074818，还款本金：824.630729，还款利息，31.444089，期初余额：7546.581305，期末余额：6721.950576
第5月还款额：856.074818，还款本金：828.066690，还款利息，28.008127，期初余额：6721.950576，期末余额：5893.883886
第6月还款额：856.074818，还款本金：831.516968，还款利息，24.557850，期初余额：5893.883886，期末余额：5062.366917
第7月还款额：856.074818，还款本金：834.981622，还款利息，21.093195，期初余额：5062.366917，期末余额：4227.385295
第8月还款额：856.074818，还款本金：838.460712，还款利息，17.614105，期初余额：4227.385295，期末余额：3388.924583
第9月还款额：856.074818，还款本金：841.954299，还款利息，14.120519，期初余额：3388.924583，期末余额：2546.970284
第10月还款额：856.074818，还款本金：845.462442，还款利息，10.612376，期初余额：2546.970284，期末余额：1701.507842
第11月还款额：856.074818，还款本金：848.985202，还款利息，7.089616，期初余额：1701.507842，期末余额：852.522640
第12月还款额：856.074818，还款本金：852.522640，还款利息，3.552178，期初余额：852.522640，期末余额：-0.000000

In [149]:
bx_df=pd.DataFrame(bx_lst,columns=['月份','还款额','还本','还息','期初余额','期末余额'])

In [150]:
bx_df

    月份         还款额          还本         还息          期初余额          期末余额
0    1  856.074818  814.408151  41.666667  10000.000000  9.185592e+03
1    2  856.074818  817.801519  38.273299   9185.591849  8.367790e+03
2    3  856.074818  821.209025  34.865793   8367.790330  7.546581e+03
3    4  856.074818  824.630729  31.444089   7546.581305  6.721951e+03
4    5  856.074818  828.066690  28.008127   6721.950576  5.893884e+03
5    6  856.074818  831.516968  24.557850   5893.883886  5.062367e+03
6    7  856.074818  834.981622  21.093195   5062.366917  4.227385e+03
7    8  856.074818  838.460712  17.614105   4227.385295  3.388925e+03
8    9  856.074818  841.954299  14.120519   3388.924583  2.546970e+03
9   10  856.074818  845.462442  10.612376   2546.970284  1.701508e+03
10  11  856.074818  848.985202   7.089616   1701.507842  8.525226e+02
11  12  856.074818  852.522640   3.552178    852.522640 -4.081357e-11

In [154]:
bx_df.set_index('月份',inplace=True)

In [157]:
bx_df

           还款额          还本         还息          期初余额          期末余额
月份
1   856.074818  814.408151  41.666667  10000.000000  9.185592e+03
2   856.074818  817.801519  38.273299   9185.591849  8.367790e+03
3   856.074818  821.209025  34.865793   8367.790330  7.546581e+03
4   856.074818  824.630729  31.444089   7546.581305  6.721951e+03
5   856.074818  828.066690  28.008127   6721.950576  5.893884e+03
6   856.074818  831.516968  24.557850   5893.883886  5.062367e+03
7   856.074818  834.981622  21.093195   5062.366917  4.227385e+03
8   856.074818  838.460712  17.614105   4227.385295  3.388925e+03
9   856.074818  841.954299  14.120519   3388.924583  2.546970e+03
10  856.074818  845.462442  10.612376   2546.970284  1.701508e+03
11  856.074818  848.985202   7.089616   1701.507842  8.525226e+02
12  856.074818  852.522640   3.552178    852.522640 -4.081357e-11